@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('catalog.css');

*,
body,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
}

*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



:root {
    --font: "Roboto", sans-serif;
    --color-btn: #842C68;
    --background: #F2F2F2;
    --border-color: 1px solid #c4c4c4;
    --color-onwards: #F3B541;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex-grow: 1;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    background-color: #000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    padding: 13px 0;
}

.nav__group {
    display: flex;
    width: 70%;
    height: 20px;
    justify-content: space-between;
}

.nav__group-list {
    display: flex;
    gap: 25px;
    color: #fff;
    font-size: 18px;
}

.nav__group-link {
    position: relative;
    padding: 5px;
    z-index: 1;
}

.nav__group-link::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: var(--color-btn);
    transition: all .4s;
}

.nav__group-link:hover:before {
    width: 100%;
    transition: all .4s;
}

.nav__group-list-icon {
    display: flex;
    gap: 60px;
}

.top {
    position: relative;
}

.top-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 545px;
    background-color: var(--background);
}

.top-group {
    position: relative;
}

.top-group__title {
    position: absolute;
    top: 5%;
    right: 20%;
    width: 506px;
    font-size: 18px;
    font-weight: normal;
}

.top-group__onward {
    position: absolute;
    top: 68%;
    right: 6.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 181, 65, .84);
    width: 151px;
    height: 151px;
    border-radius: 50%;

}

.top-group__onward-price {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-btn);
}

.top-group__onward-text {
    font-size: 30px;
}

.room {
    padding-top: 52px;
}

.room__title {
    font-size: clamp(1.25rem, -0.027rem + 3.7838vw, 3rem);
    text-align: center;
    margin-bottom: 52px;
}

.room__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 52px;
    margin-bottom: 52px;
}

.room-item {
    width: 388px;
    height: 336px;
    background-color: var(--background);
    transition: all .4s;
}

.room-item:hover {
    box-shadow: 0 0 10px #000;
    transform: scale(1.05);
    transition: all .4s;
}

.room__img {
    width: 388px;
    height: 238px;
    margin-bottom: 36px;
}

.room__item-title {
    text-align: center;
}

.living {
    background-color: var(--background);
    padding: 32px 0;
}

.living__title {
    font-size: 48px;
    margin-bottom: 42px;
}

.libing__group {
    display: flex;
    justify-content: space-between;
}

.living__group-block {
    width: 535px;
}

.living__group-block-title {
    font-size: 20px;
    margin-bottom: 24px;
}

.living__group-block-text {
    font-size: 20px;
    margin-bottom: 42px;
}

.living__group-block-list {
    list-style: disc;
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 40px;
}

.living__group-block-item {
    margin-bottom: 24px;
}

.living__group-block-btn {
    cursor: pointer;
    position: relative;
    color: #fff;
    background-color: var(--color-btn);
    border: none;
    border-radius: 5px;
    padding: 10px 13px;
    font-size: 24px;
    z-index: 2;
}

.living__group-block-btn:hover::before {
    color: #000;
    width: 100%;
    transition: all .5s;
}

.living__group-block-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    transition: all .4s;
    z-index: -1;
}

.footer {
    background-color: #000;
    padding: 95px 0 35px;
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    padding-bottom: 55px;
    margin-bottom: 55px;
    /* gap: 78px; */
    color: #fff;
    border-bottom: 1px solid #fff;
}

.footer__list-item {
    position: relative;
    transition: all .4s;
}

.footer__list-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #F2F2F2;
    z-index: 5;
    transition: all .4s;

}

.footer__list-item:hover::after {
    width: 100%;
    left: 0;
    transition: all .4s;

}

.footer__list-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 72px;
}

.footer__list-icons-item {
    transition: all .4s;
}

.footer__list-icons-item:nth-child(1):hover {
    filter: drop-shadow(0 3px 1px red) drop-shadow(0 -3px 1px blue) drop-shadow(3px 0 1px green) drop-shadow(-3px 0 1px yellow) drop-shadow(0 0 10px #fff);
    transition: all .4s;
}

.footer__list-icons-item:nth-child(2):hover {
    filter: drop-shadow(0 0 10px rgb(255, 94, 0));
    transition: all .4s;
}

.footer__list-icons-item:nth-child(3):hover {
    filter: drop-shadow(0 0 10px #fff);
    transition: all .4s;

}

.footer__list-icons-item:nth-child(4):hover {
    filter: drop-shadow(0 0 10px blue);
    transition: all .4s;


}

.footer__group {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: #fff;
    line-height: 140%;
}

.ads {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-200%);
    z-index: 5;
    width: 500px;
    height: 500px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px;
    border-radius: 12px;
    transition: all .4s;
}
.ads--show{
    transform: translate(-50%, -50%) translateY(0);

    transition: all .4s;
}

.ads__content-group {
    display: flex;
    justify-content: space-between;
}

.ads__content-title {
    width: 400px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.ads__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ads__content-text {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 40px;
}

.ads__content-group__btn {
    display: flex;
    justify-content: space-evenly;
}

.ads__content-btn-accept, .ads__content-btn-deny {
    cursor: pointer;
    width: 150px;
    padding: 10px 0;
    font-weight: 700;
    border: none;
    transition: all .3s;

}

.ads__content-btn-accept:hover, .ads__content-btn-deny:hover{
    background-color: #842C68;
    color: #fff;
    border-radius: 5px;
    transition: all .3s;
}